@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
main{
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
}

#tittle-p{
    color: rgb(8, 87, 61);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.contact{
    color: rgb(13, 140, 98);
    font-weight: bold;
}